<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 8]>
      <script src="https://"></script><!--我的隐藏身份：GitHub开源项目IteBrowser的开发者（其实只有我一个人，所以没有之一O(∩_∩)O）
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <base src="{{ site.baseurl }}/dist/itebrowser" target="_blank" />
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description"><a href="{{ site.baseurl }}/">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Home 首页</a>
            <a href="{{ site.baseurl }}/about">About 关于</a>
          </nav>
        </header>
      </div>
    </div>
    <main>
      <div id="main" role="main" class="container">
        {{ content }}
      </div>
    </main>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          Powered By BlogGood &nbsp; &nbsp; Blog Name:<a href="{{ site.baseurl }}">{{ site.name }}</a><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><!--跟访客玩O(∩_∩)O-->
        </footer>
      </div>
    </div>
  </body>
</html>
